openapi: 3.0.0
info:
  title: ble-beacon-management
  version: '1.0'
  description: "API's for management of Bluetooth low-energy Beacons."
  contact:
    name: Zebra Savanna
servers:
  - url: 'http://mock-api.zebra.com/ble'
paths:
  /observed:
    post:
      summary: Gets beacon information for the observations provided.
      tags:
        - actions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - advertisedId
                    - name
                  properties:
                    advertisedId:
                      title: adversisedId
                      type: object
                      description: Represents an advertised BLE beacon Identifier.
                      x-examples: {}
                      properties:
                        id:
                          type: string
                          description: The advertised ID of the beacon
                          format: uuid
                          example: 38d4eea7-de99-4a27-97f7-35488ad049e1
                        type:
                          type: string
                          description: The advertised type of the beacon.
                          enum:
                            - eddystone
                            - ibeacon
                            - altbeacon
                            - eddystone_eid
                            - unspecified
                          example: ibeacon
                      required:
                        - id
                        - type
                    name:
                      type: string
                      description: The friendly name of the beacon.
                      example: My Beacon
                    metadata:
                      type: string
                      description: The advertised beacon metadata.
                      format: byte
                      example: VEVTVFRFU1RURVNUVEVTVEVYQU1QTEU=
                  description: Represents the advertised BLE beacon information.
                  type: object
                  title: beaconInfo
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                required:
                  - advertisedId
                properties:
                  advertisedId:
                    title: adversisedId
                    type: object
                    description: Represents an advertised BLE beacon Identifier.
                    x-examples: {}
                    properties:
                      id:
                        type: string
                        description: The advertised ID of the beacon
                        format: uuid
                        example: 38d4eea7-de99-4a27-97f7-35488ad049e1
                      type:
                        type: string
                        description: The advertised type of the beacon.
                        enum:
                          - eddystone
                          - ibeacon
                          - altbeacon
                          - eddystone_eid
                          - unspecified
                        example: ibeacon
                    required:
                      - id
                      - type
                  telemetry:
                    type: string
                    description: The telemetry data from the beacon in base64 format.
                    format: byte
                    example: VEVTVFRFU1RURVNUVEVTVEVYQU1QTEU=
                  timestamp:
                    type: string
                    description: The time the beacon was observed.
                    format: date-time
                    example: '2019-11-12T18:25:43.511Z'
                description: Represents an observed BLE beacon.
                type: object
                title: beaconObservation
        description: ''
      description: ''
      operationId: beacon observations
  /beacons:
    get:
      summary: Gets a list of BLE beacons.
      tags:
        - beacons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                  - contents
                  - pageOf
                  - type
                  - link
                properties:
                  contents:
                    type: array
                    items:
                      title: beacon
                      type: object
                      description: Represents a BLE beacon.
                      properties:
                        registeredId:
                          type: string
                          description: 'The registered ID for the beacon, provided by the server at registration.'
                          format: uuid
                          example: 00a31534-8f62-4685-9f1b-88b0abfb4cc2
                        advertisedId:
                          title: adversisedId
                          type: object
                          description: Represents an advertised BLE beacon Identifier.
                          x-examples: {}
                          properties:
                            id:
                              type: string
                              description: The advertised ID of the beacon
                              format: uuid
                              example: 38d4eea7-de99-4a27-97f7-35488ad049e1
                            type:
                              type: string
                              description: The advertised type of the beacon.
                              enum:
                                - eddystone
                                - ibeacon
                                - altbeacon
                                - eddystone_eid
                                - unspecified
                              example: ibeacon
                          required:
                            - id
                            - type
                        status:
                          type: string
                          description: The beacon status.
                          enum:
                            - active
                            - decommissioned
                            - inactive
                            - unspecified
                          example: active
                        geoLocation:
                          title: geoLocation
                          type: object
                          properties:
                            lat:
                              type: number
                            lng:
                              type: number
                        description:
                          type: string
                          description: A description of the beacon.
                          example: My Beacon
                        provisioningKey:
                          type: string
                          description: 'The provisioning key for the beacon, (if present).'
                          example: 94f03059-bef0-4516-a19d-463b2a707a5c
                      required:
                        - registeredId
                        - advertisedId
                        - status
                  next:
                    type: string
                    example: 'https://mock-api.zebra.com/...'
                    description: A link to the next page
                  previous:
                    type: string
                    example: 'https://mock-api.zebra.com/...'
                    description: A link to the previous page
                  pageOf:
                    type: string
                    example: 'https://mock-api.zebra.com/...'
                    description: A link to the list endpoint of the resource
                  type:
                    type: string
                    enum:
                      - Page
                  link:
                    type: string
                    example: 'https://mock-api.zebra.com/...'
                    description: A link to the current page
                title: subscriptionPage
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      description: ''
      operationId: beacons
  '/beacons/{registeredId}':
    parameters:
      - schema:
          type: string
        name: registeredId
        in: path
        required: true
        description: The registered ID of the beacon.
    get:
      summary: Gets a registered BLE beacon.
      tags:
        - beacons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../../models/ble/beacon.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      parameters: []
      description: ''
      operationId: beacon
    put:
      summary: Changes a registered BLE beacon.
      tags:
        - beacons
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      description: ''
      operationId: change beacon registration
      requestBody:
        content:
          application/json:
            schema:
              required:
                - registeredId
                - advertisedId
                - status
              properties:
                registeredId:
                  type: string
                  description: 'The registered ID for the beacon, provided by the server at registration.'
                  format: uuid
                  example: 00a31534-8f62-4685-9f1b-88b0abfb4cc2
                advertisedId:
                  title: adversisedId
                  type: object
                  description: Represents an advertised BLE beacon Identifier.
                  x-examples: {}
                  properties:
                    id:
                      type: string
                      description: The advertised ID of the beacon
                      format: uuid
                      example: 38d4eea7-de99-4a27-97f7-35488ad049e1
                    type:
                      type: string
                      description: The advertised type of the beacon.
                      enum:
                        - eddystone
                        - ibeacon
                        - altbeacon
                        - eddystone_eid
                        - unspecified
                      example: ibeacon
                  required:
                    - id
                    - type
                status:
                  type: string
                  description: The beacon status.
                  enum:
                    - active
                    - decommissioned
                    - inactive
                    - unspecified
                  example: active
                geoLocation:
                  title: geoLocation
                  type: object
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                description:
                  type: string
                  description: A description of the beacon.
                  example: My Beacon
                provisioningKey:
                  type: string
                  description: 'The provisioning key for the beacon, (if present).'
                  example: 94f03059-bef0-4516-a19d-463b2a707a5c
              description: Represents a BLE beacon.
              type: object
              title: beacon
        description: ''
    delete:
      summary: Removes a beacon registration.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      operationId: remove regsitration
  /register:
    post:
      summary: Registers a new BLE beacon.
      tags:
        - actions
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The URL link of the beacon registration.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      requestBody:
        content:
          application/json:
            schema:
              required:
                - registeredId
                - advertisedId
                - status
              properties:
                registeredId:
                  type: string
                  description: 'The registered ID for the beacon, provided by the server at registration.'
                  format: uuid
                  example: 00a31534-8f62-4685-9f1b-88b0abfb4cc2
                advertisedId:
                  title: adversisedId
                  type: object
                  description: Represents an advertised BLE beacon Identifier.
                  x-examples: {}
                  properties:
                    id:
                      type: string
                      description: The advertised ID of the beacon
                      format: uuid
                      example: 38d4eea7-de99-4a27-97f7-35488ad049e1
                    type:
                      type: string
                      description: The advertised type of the beacon.
                      enum:
                        - eddystone
                        - ibeacon
                        - altbeacon
                        - eddystone_eid
                        - unspecified
                      example: ibeacon
                  required:
                    - id
                    - type
                status:
                  type: string
                  description: The beacon status.
                  enum:
                    - active
                    - decommissioned
                    - inactive
                    - unspecified
                  example: active
                geoLocation:
                  title: geoLocation
                  type: object
                  properties:
                    lat:
                      type: number
                    lng:
                      type: number
                description:
                  type: string
                  description: A description of the beacon.
                  example: My Beacon
                provisioningKey:
                  type: string
                  description: 'The provisioning key for the beacon, (if present).'
                  example: 94f03059-bef0-4516-a19d-463b2a707a5c
              description: Represents a BLE beacon.
              type: object
              title: beacon
      description: ''
      operationId: register beacon
  '/decommission/{registeredId}':
    post:
      summary: Decommisions a BLE beacon.
      tags:
        - actions
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      description: ''
      operationId: decommission beacon
    parameters:
      - schema:
          type: string
        name: registeredId
        in: path
        required: true
        description: The registered ID of the beacon.
  '/activate/{regsiteredId}':
    post:
      summary: Activates a BLE beacon.
      tags:
        - actions
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      operationId: activate
    parameters:
      - schema:
          type: string
        name: regsiteredId
        in: path
        required: true
        description: The registered ID of the beacon.
  '/deactivate/{registeredId}':
    post:
      summary: Deactivates a BLE beacon.
      tags:
        - actions
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      operationId: deactivate
      description: ''
    parameters:
      - schema:
          type: string
        name: registeredId
        in: path
        required: true
        description: The registered ID of the beacon.
  '/beacons/{registeredId}/metadata':
    get:
      summary: Gets the metadata collection for a beacon.
      tags:
        - metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - metaId
                    - type
                    - data
                    - created
                  properties:
                    metaId:
                      type: string
                      description: The metadata record ID.
                      format: uuid
                      example: 73801f9d-c8ca-4c81-8766-31ace5c17933
                    type:
                      type: string
                      description: The metadata type.
                      example: zebra/location
                    data:
                      type: string
                      description: The metadata as base64 bytes.
                      format: byte
                      example: VEVTVFRFU1RURVNUVEVTVEVYQU1QTEU=
                    created:
                      type: string
                      description: The date-time the metadata was created.
                      format: date-time
                      example: '2019-11-12T18:25:43.511Z'
                  description: Represents BLE beacon metadata.
                  type: object
                  title: beaconMeta
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      operationId: metadata
    post:
      summary: Adds a metadata record to a beacon.
      tags:
        - metadata
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      operationId: add metadata
      requestBody:
        content:
          application/json:
            schema:
              required:
                - metaId
                - type
                - data
                - created
              properties:
                metaId:
                  type: string
                  description: The metadata record ID.
                  format: uuid
                  example: 73801f9d-c8ca-4c81-8766-31ace5c17933
                type:
                  type: string
                  description: The metadata type.
                  example: zebra/location
                data:
                  type: string
                  description: The metadata as base64 bytes.
                  format: byte
                  example: VEVTVFRFU1RURVNUVEVTVEVYQU1QTEU=
                created:
                  type: string
                  description: The date-time the metadata was created.
                  format: date-time
                  example: '2019-11-12T18:25:43.511Z'
              description: Represents BLE beacon metadata.
              type: object
              title: beaconMeta
    parameters:
      - schema:
          type: string
        name: registeredId
        in: path
        required: true
        description: The registered ID of the beacon.
  '/beacons/{registeredId}/metadata/{metaId}':
    parameters:
      - name: registeredId
        in: path
        required: true
        schema:
          type: string
        description: The registered ID of the beacon.
      - name: metaId
        in: path
        required: true
        schema:
          type: string
        description: The metadata ID of the metadata record.
    put:
      summary: Changes a metadata record on a beacon.
      tags:
        - metadata
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
      operationId: change metadata
      requestBody:
        content:
          application/json:
            schema:
              required:
                - metaId
                - type
                - data
                - created
              properties:
                metaId:
                  type: string
                  description: The metadata record ID.
                  format: uuid
                  example: 73801f9d-c8ca-4c81-8766-31ace5c17933
                type:
                  type: string
                  description: The metadata type.
                  example: zebra/location
                data:
                  type: string
                  description: The metadata as base64 bytes.
                  format: byte
                  example: VEVTVFRFU1RURVNUVEVTVEVYQU1QTEU=
                created:
                  type: string
                  description: The date-time the metadata was created.
                  format: date-time
                  example: '2019-11-12T18:25:43.511Z'
              description: Represents BLE beacon metadata.
              type: object
              title: beaconMeta
    delete:
      summary: Removes a metadata record from a beacon.
      tags:
        - metadata
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                    description: The error code
                    example: 123
                  message:
                    type: string
                    description: A brief description of the error
                    example: Internal error.
                required:
                  - code
                  - message
                type: object
                title: error
components:
  securitySchemes: {}
